:root {
    --primary-color: #003B7A;
    --secondary-color: #FFC72C;
    --background-color: #fff;
    --text-color: #1A1A1A;
    --font-family: "Monserrat", sans-serif;
}

.discover-main {
    margin: 2rem auto;
    padding: 0 1rem;
}

.intro {
    margin-bottom: 1rem;
    font-size: larger;
}

.visit-message {
    margin-top: 0.5rem;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    background: #f3f7ff;
    color: var(--primary-color);
    font-weight: 600;
}

.discover-grid {
    display: grid;
    gap: 1rem;
    align-items: start;
    margin-top: 1rem;
}

.discover-grid .card {
    background: var(--background-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    padding: 0.8rem;
    line-height: 2;
}

.discover-grid .card h2 {
    font-size: 1.05rem;
    margin: 0.4rem 0;
    text-align: center;
}

.discover-grid .card figure {
    margin: 0;
    overflow: hidden;
    border-radius: 8px;
}

.discover-grid .card img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 300px;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    justify-self: center;
}

.discover-grid address {
    font-style: normal;
    font-size: 0.9rem;
    color: var(--text-color);
    margin: 0.4rem 0;
    font-weight: bold;
    padding: 10px;
}

.discover-grid p {
    font-size: 0.95rem;
    color: var(--text-color);
    margin-bottom: 0.6rem;
    font-weight: bold;
    padding: 0 10px;
}

.discover-grid button {
    padding: 0.45rem 0.9rem;
    border-radius: 6px;
    border: 1px solid var(--secondary-color);
    background: var(--primary-color);
    color: white;
    cursor: pointer;
}

.discover-grid button:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: 1px solid var(--primary-color);
}

@media (max-width: 640px) {
    .discover-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "a1"
            "a2"
            "a3"
            "a4"
            "a5"
            "a6"
            "a7"
            "a8";
    }

    .discover-grid .card img {
        max-width: 100%;
    }


}

.discover-grid .card.a1 {
    grid-area: a1;
}

.discover-grid .card.a2 {
    grid-area: a2;
}

.discover-grid .card.a3 {
    grid-area: a3;
}

.discover-grid .card.a4 {
    grid-area: a4;
}

.discover-grid .card.a5 {
    grid-area: a5;
}

.discover-grid .card.a6 {
    grid-area: a6;
}

.discover-grid .card.a7 {
    grid-area: a7;
}

.discover-grid .card.a8 {
    grid-area: a8;
}

.discover-grid .card button {
    display: inline-block;
    margin-top: 0.25rem;
}

dialog {
    width: 90%;
    max-width: 600px;
}