@media only screen and (min-width: 38rem) {
    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px var(--secondary-color);
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
        border-right: 1px solid var(--secondary-color);
        padding: .8rem 2rem;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    #members.grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .main-info {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 15px;
    }

    .spotlight-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .hero-text {
        font-size: 1.5rem;
    }

    .form-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .membership-cards h2 {
        margin-top: 20px;
    }
}