:root {
    --primary-color: #003B7A;
    --secondary-color: #FFC72C;
    --background-color: #fff;
    --text-color: #1A1A1A;
    --font-family: "Monserrat", sans-serif;
}

* {
    font-family: var(--font-family);
    box-sizing: border-box;
    margin: 0;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
}

header {
    display: grid;
    grid-template-columns: 94px auto 44px;
    padding: 5px 0 5px 5px;
    align-items: end;
    color: var(--secondary-color);
    border-bottom: solid 1px var(--secondary-color);
    column-gap: 12.5px;
    background-color: var(--primary-color);
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--secondary-color);
    align-self: center;
}

.hamburger {
    align-self: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: var(--secondary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
    background-color: var(--primary-color);
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--secondary-color);
    text-align: center;
    text-decoration: none;
    border-bottom: solid 1px var(--secondary-color);
}

.navigation li.current {
    text-decoration: underline 2px var(--secondary-color);
}

.navigation a:hover {
    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    text-align: center;
    color: var(--text-color);
    text-decoration: underline var(--secondary-color);
}

.view-toggle {
    justify-self: center;
    padding: 10px 0;
}

.view-toggle button {
    background-color: var(--secondary-color);
    padding: 10px;
    margin: 0 5px;
    border: 2px solid var(--primary-color);
    font-weight: bolder;
    cursor: pointer;
    color: var(--text-color);
}

#members.grid {
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
    margin: 0 5px;
}

#members.list {
    display: block;
    margin: 0 2px;
}

#members.list img,
#members.list .membership,
#members.list .description {
    display: none;
}

.member-card {
    padding: 2rem .25rem;
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    text-align: center;
    justify-content: space-evenly;
    line-height: 2;
    margin: 35px 15px;
}

.member-card img {
    max-width: 250px;
    margin-bottom: 10px;
}

.list .member-card {
    display: flex;
    align-items: center;
    margin: 0 5px;
    margin-bottom: 15px;
}

footer {
    margin-top: 10px;
    border-top: solid 1px var(--secondary-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.info,
.info-js {
    padding: 10px;
    line-height: 1.5;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--secondary-color) solid 2px;
    border-radius: 22px;
    width: 44px;
    height: 44px;
    margin-bottom: 10px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: var(--background-color);
}

.main-info section {
    background-color: #ddd;
    margin: 25px;
    padding: 10px;
    border: var(--primary-color) 1px solid;
    border-radius: .5em;
}

.main-info section h2 {
    padding: 15px;
}

.events li {
    padding: 10px;
}

.weather {
    line-height: 2;
    text-align: center;
}

.spotlight h2 {
    text-align: center;
    padding: 15px;
}

.spotlight-grid {
    display: grid;
    gap: 25px;
    margin: 15px;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    display: block;
}

.hero-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 5px;
}

.hero-text h1 {
    color: white;
}

.cta {
    display: inline-block;
    background: var(--primary-color);
    color: white;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    text-decoration: none;
    border-radius: 4px;
}

form {
    margin: 1.5rem;
}

label {
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;
}

input,
textarea,
select {
    width: 100%;
    padding: .75rem;
    margin-top: .5rem;
    border-radius: .5rem;
    border: 1px solid var(--primary-color);
    font-size: 1rem;
}

input[type="submit"] {
    background: var(--primary-color);
    color: white;
    cursor: pointer;
    border: none;
    font-size: 1.25rem;
    margin-top: 15px;
}

input[type="submit"]:hover {
    background: var(--secondary-color);
    color: var(--text-color);
}

.membership-cards {
    padding: .5rem;
    text-align: center;
    opacity: 0;
    transform: translateY(25px);
    animation: cardFade 1s forwards;
}

.membership-card:nth-child(1) {
    animation-delay: 0.1s;
}

.membership-card:nth-child(2) {
    animation-delay: 0.3s;
}

.membership-card:nth-child(3) {
    animation-delay: 0.5s;
}

.membership-card:nth-child(4) {
    animation-delay: 0.7s;
}

@keyframes cardFade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.member-card button {
    margin-top: .5rem;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    background-color: var(--primary-color);
    cursor: pointer;
    color: white;
}

.member-card button:hover {
    background: var(--secondary-color);
    color: var(--text-color);
}

dialog {
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 50%;
    left: 50%;
    line-height: 2.5;
    transform: translate(-50%, -50%);
}

dialog h3 {
    text-align: center;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

dialog button {
    font-size: 1.25rem;
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 5px 15px;
}

.close-modal {
    display: block;
    margin: 20px auto 0;
}

dialog button:hover {
    color: var(--text-color);
    background-color: #FFC72C;
}

.form-title {
    margin: 15px;
}

.price {
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--text-color);
}