:root {
    --primary-color: rgb(64, 224, 208);
    --secondary-color: rgb(27, 27, 27);
    --accent-color: #ddd;
    --text-font: "Roboto", sans-serif;
}

* {
    font-family: var(--text-font);
    box-sizing: border-box;
    margin: 0;
}


header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    color: var(--secondary-color);
    border-bottom: solid 1px var(--secondary-color);
    column-gap: 8px;
    background-color: var(--accent-color);
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: var(--secondary-color);
    padding-bottom: 2px;
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: var(--secondary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
    background-color: var(--primary-color);
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--secondary-color);
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    text-decoration: underline;
}

.navigation a:hover {
    background-color: var(--accent-color);
}

h1 {
    margin-left: 10px;
    color: var(--secondary-color);
    text-decoration: underline;
}

section {
    margin: 20px 10px;
    max-width: 95%;
    background-color: var(--accent-color);
}

h2 {
    background-color: var(--primary-color);
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid var(--secondary-color);
}

section p {
    text-align: justify;
    padding: 15px 15px;
    line-height: 30px;
}

.student img {
    display: block;
    justify-self: center;
    max-width: 100%;
    padding: 20px 15px;
}

.web-courses {
    max-width: 95%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 12px;
}

.course-filters {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.course-filters button {
    flex: 1;
    padding: 0.5rem;
    background-color: var(--accent-color);
    border: 1px solid black;
    cursor: pointer;
    font-weight: bold;
    border-radius: .5rem;
}

.course-filters button:hover {
    background-color: rgb(64, 224, 208, .25);
}

.course-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 auto;
    max-width: 95%;
}

.course-item {
    background-color: #ccc;
    padding: 0.5rem;
    font-weight: bold;
    border: 1px solid var(--secondary-color);
    border-radius: .25rem;
}

.course-item.completed {
    background-color: var(--primary-color);
}

.total-credits {
    text-align: center;
}

footer {
    text-align: center;
}

.info {
    background-color: var(--accent-color);
    padding: 10px;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #ccc solid 1px;
    border-radius: 22px;
    width: 44px;
    height: 44px;
    margin-bottom: 10px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}