h1 {
    text-align: center;
    text-decoration: underline var(--primary-color);
}
.games-grid {
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.game-card {
    background: var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: transform .2s;
    color: var(--secondary-color);
}

.game-card:hover {
    transform: scale(1.05);
}

.game-card img {
    width: 100%;
    border-radius: 8px;
}

.rating {
    display: inline-block;
    margin-top: 5px;
    color: gold;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .8);
    justify-content: center;
    align-items: center;
}

.modal.show {
    display: flex;
}

.modal-content {
    background: var(--primary-color);
    padding: 40px;
    width: 90%;
    max-width: 550px;
    border-radius: 10px;
    position: relative;
    color: var(--secondary-color);
}

.close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 40px;
}

.modal img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.fav-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    margin-top: .5rem;
}

.heart {
    color: #bbb;
    transition: color .25s ease;
}

.heart.active {
    color: red;
}

.modal-content #fav-btn {
    background-color: gold;
    color: #000;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    font-size: large;
}

.modal-content #fav-btn:hover {
    background-color: var(--accent-color);
}