.container {
    width: 90%;
    max-width: 700px;
    margin: 3rem auto;
    text-align: center;
    background: var(--secondary-color);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

h1 {
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
    text-decoration: underline var(--primary-color);
}

p {
    font-size: 1.1rem;
}

.output-box {
    text-align: left;
    margin-top: 2rem;
    background: var(--accent-color);
    padding: 1.5rem;
    border-radius: 10px;
    border: 1px solid #333;
}

.output-box h2 {
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.output-box p {
    margin: .5rem 0;
    font-size: 1.05rem;
}

.output-box span {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    display: block;
    max-width: 100%;
}

.back-btn {
    display: inline-block;
    margin-top: 2rem;
    padding: .9rem 1.4rem;
    background: var(--primary-color);
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: .25s;
}

.back-btn:hover {
    background: #0b1c4b;
    ;
}